body {
    line-height: 1.5;
    max-width: 35rem;
    margin: 0rem auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #123;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
header {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
table {
    width: 100%;
}
td {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-width: 4rem;
}
td:first-child {
    text-align: left;
    padding-left: 0rem;
}
td:last-child {
    text-align: right;
    padding-right: 0rem;
}
h1 {
    line-height: 1.1;
    text-align: center;
    padding-top: 1.2rem;
}
h2 {
    line-height: 1.3;
    padding-top: 1.5rem;
}
p.heart {
    text-align: center;
}
hr {
    color: #345;
}
a:link {
    color: #6cf;
}
a:visited {
    color: #4cc;
}
